* {
  min-height: 0;
  min-width: 0;
  font-family: "Fira Code";
  font-size: 12px;
  padding: 0rem 0.1rem;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(34, 0, 10, 0.7);
  border: 2px solid rgba(95, 0, 29, 0.8);
  border-radius: 8px;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 4px;

  background-color: rgba(136, 4, 37, 0.2);
  color: #ffffff;
}

#workspaces button:hover {
  background-color: #3a0210;
  color: #880425;
}

#workspaces button.active {
  background-color: #880425;
  color: #fff;
}

#workspaces button.urgent {
  background-color: #3a0210;
  color: #f38b8b;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.15rem;
  border-radius: 6px;
  border-color: #c5003c;
  border-width: 2px;
  background-color: rgba(136, 4, 37, 0.2);
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #fff;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #fff;
}

#memory {
  color: #fff;
}

#clock {
  color: #fff;
}

#clock.simpleclock {
  color: #fff;
}

#window {
  color: #fff;
}

#pulseaudio {
  color: #fff;
}

#pulseaudio.muted {
  color: #fff;
}

#custom-logo {
  color: #fff;
}

#custom-power {
  font-size: 12pt;
  color: #fff;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

tooltip {
  background-color: rgb(34, 0, 10);
  border: 1px solid #c5003c;
  font-size: 8px;
}
